/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // background: linear-gradient(to right, #001C41 5%, #001135 15%, #030E2C 25%, #020106 70%);
  background-color: #001135;
  overflow: hidden;
}

body {
  margin: 0;
  color: #333;
  font-size: 14px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
span,
i,
label {
  margin: 0;
  padding: 0;
  font-weight: normal;
  margin-block-start: 0;
  margin-block-end: 0;
}

.textOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#app {
  font-family: 'HanSansCN', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  overflow: hidden;
}

ul li {
  list-style: none;
}

a {
  color: #999;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(153, 153, 153, 0.1);
}

img {
  user-select: none;
}

.clearfix {
  zoom: 1;

  &::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: '';
    clear: both;
    height: 0;
  }
}

.cursor {
  cursor: pointer;
}

.bg-wrap {
  position: relative;
  background: rgba(161, 193, 226, 0.2);
  border: 1.5px solid transparent;
  box-shadow: inset 0 0 20px rgba(95, 172, 255, .3);
  border-image: linear-gradient(60deg, rgba(95, 172, 255, .9) 30%, rgba(201, 238, 214, 0.5) 60%) 1 1;
}

/* SCROLL STYLE */
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

button {
  -webkit-appearance: none;
}


@keyframes scrollBot {
  0% {
    transform: translateY(0)
  }

  to {
    transform: translateY(-80%)
  }
}


@keyframes fadeCur {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: .6;
  }

  70% {
    opacity: .2;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}


.pointer {
  cursor: pointer;
}